---
http_interactions:
- request:
    method: get
    uri: "<API_URL>/posts/50"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1669383336'
      Etag:
      - W/"14d-XND1VIG+pZHF+RVMSi1awppS1XI"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 5,
          "id": 50,
          "title": "repellendus qui recusandae incidunt voluptates tenetur qui omnis exercitationem",
          "body": "error suscipit maxime adipisci consequuntur recusandae\nvoluptas eligendi et est et voluptates\nquia distinctio ab amet quaerat molestiae et vitae\nadipisci impedit sequi nesciunt quis consectetur"
        }
  recorded_at: Fri, 25 Nov 2022 13:34:57 GMT
[...]
- request:
    method: get
    uri: "<API_URL>/posts/52"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1669384596'
      Etag:
      - W/"11d-WmrD+HyY132p7brEZQ1rec9ZC6E"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 6,
          "id": 52,
          "title": "qui enim et consequuntur quia animi quis voluptate quibusdam",
          "body": "iusto est quibusdam fuga quas quaerat molestias\na enim ut sit accusamus enim\ntemporibus iusto accusantium provident architecto\nsoluta esse reprehenderit qui laborum"
        }
  recorded_at: Fri, 25 Nov 2022 13:56:35 GMT
recorded_with: VCR 6.1.0
